Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:Database is a location where data is stored in a certain format  electronically in a computer system.

SQL is structured query language in which data is stored in a tabular format.
Example-Mysql,Oracle

NOSQL is Not only structured query language in which data is stored in unstructured way for example in a JSON format.
Example-MongoDB,casandara

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:
DDL is data defination langauge which consists of command that are used to define a  database.

1.CREATE
Used to create a data base

CREATE DATABASE dbname;

2.DROP
To delete a database

DROP DATABASE dbName;

3.ALTER

change the selected table

ALTER TABLE name_of_table ADD column_name column_definition;  

4.TRUNCATE

removes all data from a table

TRUNCATE TABLE Table_Name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:
DML is Data Manipulation Langauge which consists of command that are used to manipulate data inside the database.

1.INSERT
used to insert values into the table

INSERT INTO table_name (field1, field2, ...) VALUES (value1, value2, ...)

2.UPDATE
update all or specified rows in your table

UPDATE table_name
SET column1 = value1,
...;

3.DELETE
to delete rows or column inside a table

DELETE from table_name where condition

Q4. What is DQL? Explain SELECT with an example.

Ans:

DQL is Data Query Language in sql consisting of commands which are used to get data from the table.

SELECT

It is used to retrieve information from the table depending upon the specified condition.

SELECT * FROM table_name;

Q5. Explain Primary Key and Foreign Key.

Ans:
Primary Key
It is a field in a table which uniquely identifies each record in a database table.It cannot be null

Foreign Key
It is used to link two tables
It is a field in one table which refers to the primary key in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password")
  
A cursor is an object which helps to execute the query and fetch the records from the database. 

The execute () method helps us to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans:

FROM clause


ON clause

OUTER clause

WHERE clause

GROUP BY clause

HAVING clause

SELECT clause

DISTINCT clause

ORDER BY clause

TOP clause