Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans:
MongoDB is a Non Relational database which stores data in a non structural format like documant format,json etc.

Scenarios where MongoDB is preferred over SQL:

1.Storing large volumes of data without structure:A NoSQL database doesn’t limit storable data types.

2.Using cloud computing and storage: Cloud-based storage is a great solution, but it requires data to be easily spread across multiple servers for scaling. Using affordable hardware on-site for testing and then for production in the cloud is what NoSQL databases are designed for.

3.Rapid development:If you are developing using modern agile methodologies, a relational database will slow you down.

Q2. State and Explain the features of MongoDB.

Ans:

1.flexibility to change your data schema without modifying any of your existing data.

2.Manageability: The database doesn’t require a database administrator. Since it is fairly user-friendly in this way, it can be used by both developers and administrators.

3.Speed: It’s high-performing for simple queries.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.6 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

In [4]:
#to connect MongoDB to python
client=pymongo.MongoClient("mongodb+srv://sagark13599:sagar@cluster0.dzetpcb.mongodb.net/?retryWrites=true&w=majority")

In [7]:
#to create database
db=client['Student']

In [8]:
#to create a collection
coll=db['recrods']

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
d1={'name':'sagar',
      'class':'dsm',
      'roll':56
}

In [10]:
#to insert one record
coll.insert_one(d1)

In [11]:
d2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [12]:
#to insert many records
coll.insert_many(d2)

In [13]:
#using find
for i in coll.find():
    print(i)

{'_id': ObjectId('63f2208bb9b4963dcbb7e2bf'), 'name': 'sagar', 'class': 'dsm', 'roll': 56}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2c9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2ca'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f220e5b9b4963dcbb7e2cb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
#using find_one()
coll.find_one()

{'_id': ObjectId('63f2208bb9b4963dcbb7e2bf'),
 'name': 'sagar',
 'class': 'dsm',
 'roll': 56}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans:
The sort() method specifies the order in which the query returns the matching documents from the given collection.

In [16]:
#Example
r=coll.find().sort('name',1)
print(list(r))

[{'_id': ObjectId('63f220e5b9b4963dcbb7e2c0'), 'name': 'Amy', 'address': 'Apple st 652'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c8'), 'name': 'Ben', 'address': 'Park Lane 38'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c4'), 'name': 'Betty', 'address': 'Green Grass 1'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2ca'), 'name': 'Chuck', 'address': 'Main Road 989'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c1'), 'name': 'Hannah', 'address': 'Mountain 21'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c2'), 'name': 'Michael', 'address': 'Valley 345'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c5'), 'name': 'Richard', 'address': 'Sky st 331'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c6'), 'name': 'Susan', 'address': 'One way 98'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2cb'), 'name': 'Viola', 'address': 'Sideway 1633'}, {'_id': ObjectId('63f220e5b9b4963dcbb7e2c9'), 'name': 'William', 'address': 'Central st 954'}, {'_id': ObjectId('63f2208bb9b4963dcbb7e2bf'), 'name': 'sagar', 'class': 'dsm', 'roll': 56}]

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans:

Delete_many() is used when one needs to delete more than one document.

Delete_one() a single document can be deleted by the method delete_one().

Drop() method is used to drop a collection from a database.