Q1. List any five functions of the pandas library with execution.

df.head() --return top values from dataframe(default 5 values)

df.tail() -- return bottom values from datafram (default last 5 values)

df.info() -- return summary of dataframe and data type of columns

df.describe() -- return statistics of data 

df.loc -- returns the group of rows and columns identified by their labels or names.
'''

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd
data={'A':[1,2,3,34],
     'B':[4,5,6,23],
    'C':[7,8,9,54]}
df=pd.DataFrame(data)
df

    A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  34  23  54

In [9]:
#We can use the index parameter of DataFrame to change the index as a range of numbers that begins at a specific number.
df.index=pd.RangeIndex(start=1,stop=8,step=2)
print(df)

    A   B   C
1   1   4   7
3   2   5   8
5   3   6   9
7  34  23  54

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [15]:
data={'Values':[10, 20, 30, 40, 50]}
df=pd.DataFrame(data)
df

   Values
0      10
1      20
2      30
3      40
4      50

In [16]:
s=0
for i in range(3):
    s=df['Values'][i] + s
print(s)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [21]:
data={'Text':['sagra','suyash','rab']}
df=pd.DataFrame(data)
df

     Text
0   sagra
1  suyash
2     rab

In [22]:
df['Word_Count']=None
df

     Text Word_Count
0   sagra       None
1  suyash       None
2     rab       None

In [23]:
for i in df.index:
    df['Word_Count'][i]=len(df['Text'][i])
print(df)

     Text Word_Count
0   sagra          5
1  suyash          6
2     rab          3

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans:

dataframe.size
Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.

dataframe.shape
Returns tuple of shape (Rows, columns) of dataframe/series

Q6. Which function of pandas do we use to read an excel file?

Ans: read_excel function is used to read excel file in pandas dataframe.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.


The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [24]:
data={'Email':['john.doe@gmail.com','ravsingh@gmail.com','prajot2511@gmail.com','saxseba26@gmail.com']}
df=pd.DataFrame(data)
df

                  Email
0    john.doe@gmail.com
1    ravsingh@gmail.com
2  prajot2511@gmail.com
3   saxseba26@gmail.com

In [33]:
def user(df):
    x=[i.split('@')[0] for i in df['Email']]
    df['Username']=x
    return df
user(df)

                  Email    Username
0    john.doe@gmail.com    john.doe
1    ravsingh@gmail.com    ravsingh
2  prajot2511@gmail.com  prajot2511
3   saxseba26@gmail.com   saxseba26

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [39]:
data={'A':[1,6,3,9],
     'B':[9,5,6,23],
    'C':[7,8,9,54]}
df=pd.DataFrame(data)
df[(df['A'] > 5) & (df['B'] <10)]

   A  B  C
1  6  5  8

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [45]:
data={'Values':[10, 20, 30, 40, 50]}
df=pd.DataFrame(data)
print(df['Values'].mean())
print(df['Values'].median())
print(df['Values'].std())

30.0
30.0
15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [48]:
#strptime means string parser, this will convert a string format to datetime.
#strftime means string formatter, this will format a datetime object to string format.
from datetime import datetime 
data={ "date": ["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]}
df=pd.DataFrame(data)
df

         date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [52]:
x=[]
for i in df['date']:
    #convert string to datetime object
    dateTime_object=datetime.strptime(i,"%Y-%m-%d")
    x.append(dateTime_object.strftime("%A"))
df['weekday']=x
df

         date    weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [54]:
from datetime import datetime 
data={ "date": ["2023-01-01","2023-01-02","2023-03-03","2023-01-04","2023-02-05"]}
df=pd.DataFrame(data)
df

         date
0  2023-01-01
1  2023-01-02
2  2023-03-03
3  2023-01-04
4  2023-02-05

In [55]:
df[(df['date']>='2023-01-01') & (df['date'] <= '2023-01-31')]

         date
0  2023-01-01
1  2023-01-02
3  2023-01-04

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

ans:


import pandas